.emailList{
    flex: 1;
    overflow: scroll;
}
.emailList_settings{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
    padding-right: 10px;
}
.emailList_section{
    position: sticky;
    top: 0px;
    display: flex;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
}
